:root {
    --white: #FFFFFF;
    --violete: #f4f4fd;
    --dark_blue: #2E2F42;
    --grey: #8e8f99;
    --blue: #404bbf;
    --sky-blue: #4d5ae5;
  }
  /* General styles */
  body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: var(--white);
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

a {
    text-decoration: none;
}
    
ul {
    list-style: none;
}
    
h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
}

img {
    display: block
}

.link {
    font-family: Roboto;
    font-weight: Regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-decoration: underline;
}

/* Container */
.container {
    width: 1158px;
    margin: 0 auto;
    /* display: flex; */
    padding: 0 15px 0 15px;
}

.section-container {
    display: block;
}

/* Header */
address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
}

.header {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-list {
    display: flex;
    gap: 40px;
}

.navigation-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    align-self: center;
    margin-right: 76px;
}

.navigation-logo-accent {
    color: #2e2f42;
}

.navigation-link {
    font-family: Roboto;
    font-weight: 500 ;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus {
    color:#404bbf;
}

.navigation-link::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px; 
    background-color: #404bbf;
    border-radius: 2px;
}

.address-link {
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.address-list {
    display: flex;
    gap: 40px
}

/* Banner */

.banner {
    background-color:  #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero_image.jpg');
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-header {
    font-family: Roboto;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    color: var(--white);
    max-width: 496px;
}

.banner-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
    color: var(--white);
    margin-top: 50px;    
    min-width: 169px;
    border: none;
    border-radius: 4px; 
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.banner-button:hover,
.banner-button:focus {
    background-color: #404BBF;
}

/* Goals */
.goals {
    padding: 120px 0;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.goals-list {
    display: flex;
    gap: 24px;
}

.goals-item {
    width: calc((100% - 72px) / 4);
}

.goals-item-icon {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--violete);
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.goals-list-header {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 0;
    margin-bottom: 8px;
}

.goals-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 0;
}

/* Team */
.team {
    background-color: var(--violete);
    padding: 120px 0;
}

.team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-description {
    padding: 32px 0;
}

.team-list-item {
    background-color: var(--white);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-header {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 14px;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.socials-item {
    width: 40px;
    height: 40px; 
}

.socials-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover, .socials-link:focus {
    background-color: #404bbf;
}

.socials-icon {
    fill: var(--violete);
}

/* Portfolio */
.portfolio {
    padding: 120px 0 120px 0;
}
.portfolio-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-overflow-text {
    transform: translateY(0%);
}

.portfolio-item-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;

}

.portfolio-image-container {
    position: relative;
    overflow: hidden; 
}

.portfolio-overflow-text {
    position: absolute; 
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--violete);
    padding: 40px 32px; 
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

/* Footer */
.footer {
    background-color:  #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-accent {
    color: var(--violete);
}

.footer-text {
    color: var(--violete);
    width: 264px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo-container {
    margin-right: 120px
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
}

.footer-socials-link:hover, .footer-socials-link:focus {
    background-color: #31d0aa;
}

.footer-form-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
}

.footer-form {
    display: flex; 
    gap: 24px;
}

.footer-form-label {
}

.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white);
}

.footer-input::placeholder {
    color: var(--white);
  }

  .footer-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: #4D5AE5;
    border: none; 
    border-radius: 4px; 
  }

  .footer-button-icon {
    margin-left: 16px;
  }

  /* Modal */
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px; 
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-button:hover, .modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-button-icon {
    fill: var(--dark_blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-close-button-icon {
    fill: var(--white);
}

.modal-close-button:focus .modal-close-button-icon {
    fill: var(--white);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark_blue);
    margin-bottom: 16px;
}

.modal-form-item {
    margin-bottom: 8px; 
}

.modal-form-label {
    font-size: 12px; 
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: var(--grey);
    display: block; 
    margin-bottom: 4px;
}

.input-container {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    fill: #4D5AE5; 
}

.modal-form-comment {
    margin-bottom: 16px;
}

.modal-form-textarea {
    width: 100%;
    height: 120px; 
    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4); 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
    border-color: #4D5AE5;
}

.modal-form-checkbox {
    margin-bottom: 24px; 
}

.user-privacy-label {
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: var(--grey);
}

.checkbox-icon-container {
    width: 16px; 
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}

.user-privacy-input:checked + .user-privacy-label .checkbox-icon-container {
    border: none;
    fill: var(--violete);
    background-color: var(--blue);
}

.privacy-policy {
    color: var(--sky-blue); 
}

.modal-form-button {
    display: block;
    min-width: 169px;
    height: 56px; 
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: var(--sky-blue);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}